#about-section {
  padding: 3rem 5% 10rem 5%;
}

#about-section > .about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: relative;
  z-index: 2;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 2vw);
  grid-gap: 1.5rem;
}

.gallery__img {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.gallery__item {
  border-radius: 10px;
  overflow: hidden;
}

.gallery__img:hover {
  transform: scale(1.05);
  filter: brightness(50%);
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.about-container > .about-content {
  max-width: 50rem;
}

.about-content > .about-title {
  font-size: 2.5em;
  padding-bottom: 1rem;
}

.about-title > span,
.about-subtitle > span {
  color: var(--cor-primaria-3);
}

.about-content > .about-description {
  font-size: 1.1em;
  text-align: justify;
  padding-bottom: 1.6rem;
}

.about-content > .about-description > span {
  color: var(--cor-texto-destaque);
  font-weight: 600;
}

.about-content > .about-description > .about-description-ver-mais {
  color: var(--cor-texto-destaque);
  text-decoration: underline;
}

.about-description > .about-description-ver-mais:hover {
  color: var(--cor-primaria-6);
}

.about-content > .cta-container {
  --button_radius: 0.75em;
  --button_color: #13a300;
  --button_outline_color: #092209;
  width: 20rem;
  background: var(--button_outline_color);
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: left;
  border: none;
  border-radius: var(--button_radius);
  cursor: pointer;
  z-index: 9;
}

.cta-container > .cta-button {
  color: #fff;
  background: var(--button_color);
  display: block;
  padding: 1em 1.5em;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

.cta-container:hover .cta-button {
  transform: translateY(-0.33em);
}

.cta-container:active .cta-button {
  transform: translateY(0);
}

@media screen and (max-width: 1436px) {
  .about-container > .about-content {
    max-width: 40rem;
  }
}

@media screen and (max-width: 1266px) {
  .about-container > .about-content {
    max-width: 40rem;
  }
}

@media screen and (max-width: 1226px) {
  .about-container > .about-content {
    max-width: 35rem;
  }

  .about-content > .about-title {
    font-size: 2.2em;
  }

  .about-content > .about-description {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 1087px) {
  #about-section {
    padding: 3rem 5% 8rem 5%;
  }

  .about-container > .about-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-content > .cta-container {
    text-align: center;
  }

  .about-content > .about-title {
    text-align: center;
    font-size: 2.5em;
  }

  .about-content > .about-description {
    width: 100%;
    font-size: 1.3em;
    text-align: center;
  }

  .about-content > .about-description {
    width: 100%;
  }

  #about-section > .about-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 420px) {
  .about-content > .cta-container {
    width: 10rem;
  }
}
